@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}


:root{
    --fonte-primaria:'Unlock', serif;
    --fonte-secundaria: 'Inter', sans-serif;
}


#cabecalho{
    width: 100%;
    background-color: #5ACFE9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#cabecalho__search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 33.33%;
}

#cabecalho__logo{
    display: flex;
    justify-content: center;
    flex-basis: 33.33%;
}

#cabecalho__options{
    display: flex;
    justify-content: center;
    flex-basis: 33.33%;
}


#search__header{
    width: 300px;
    height: 56px;
    border-radius: 25px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    color: black;
}

#cabecalho__menu{
    font-family: var(--fonte-primaria);
    font-size: 24px;
}

#cabecalho__menu__opcao{
    text-decoration: none;
    color: white;
}

.nav__header{
    background-color: black;
    display: flex;
    height: 59px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 73px;
}

#nav__header__option{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: var(--fonte-primaria);

}

h1{
    font-family: var(--fonte-primaria);
    font-size: 40px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.main__ofertas{
    display: flex;
    justify-content: space-around;
}

#main__ofertas__oferta__img{
    border: solid;
    border-radius: 15px;
    border-color: #5ACFE9;
    border-width: 21px;
    background-color: #5ACFE9;
}

.main__ofertas__oferta{
    text-align: center;
}

.p__oferta{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 15px;
}

.span__oferta{
    font-size: 20px;
}

.botao__comprar{
    display: block;
    padding-left: 86px;
    padding-right: 86px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-primaria);
    color: black;
    font-size: 24px;
    background-color: #F7B917;
    border-radius: 15px;
    
}

b{
    font-weight: 700px;
}

footer{
    height: 30%; /*361px*/
    background-color: #5ACFE9;
    border: solid;
    border-style: inset;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: black;
    border-width: 30px;
    margin-top: 32px;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 77px;
}

#h1__rodape{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

#p__rodape{
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}

.rodape__conteudo{
    flex-basis: 20%;
    text-align: center;
}

@media (max-width: 930px){
    #cabecalho{
        width: 100vw;
        justify-content: center;
        flex-direction: column;
    }

    #search__header{
        display: block;
        width: fit-content;
        height: fit-content;
        font-size: 1rem;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #img__header{
        width: 80%;
    }


    #cabecalho__menu{
        display: flex;
        gap: 5rem;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .nav__header{
        justify-content: space-around;
        gap: 0px;
    }

    #nav__header__option{
        font-size: 1.2rem;
        gap: 0px;
    }

    h1{
        margin-bottom: 0%;
    }

    .main__ofertas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main__ofertas__oferta{
        width: 275px;
        justify-content: center;
        padding-top: 3%;
    }

    .botao__comprar{
       display: block;
       margin-bottom: 25%;
    }

    #rodape{
        justify-content: space-around;
        margin-top: 0%;
        align-items: flex-start;
        padding-top: 2%;
        height: 100%;
    }

    #h1__rodape{
        font-size: 1.2rem;
    }

    #p__rodape{
        font-size: 0.9rem;
    }

    .rodape__img{
        width: 25%;
        margin: auto;
        display: flex;
    }
}
